<div class="datepickers">
</div>
<div class="row activation-energy">
    <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
        <h6> <span id="s1"></span></h6>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
        <h6><span id="s2"></span></h6>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
        <h6><span id="s3"></span></h6>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
        <h6><span id="s4"></span></h6>
    </div>
</div>
