<header class="header">
    <div class="container" style="align-items: center">
        <a href="/" class="header__logo">Vagif Aliyev</a>
        <nav class="header__nav">
            <a href="/" class="header__nav-item">Home</a>
            <a class="header__nav-item" href="/about">About</a>
        </nav>
    </div>
</header>